*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

.bgColor{
    background-color: transparent;
}

.padding-full{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

#main{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main>nav{
    /* position: fixed; */
    z-index: 99;
    height: auto;
    height: 14%;
    width: 100%;
    display: flex;
    /* padding-top: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(209, 209, 209);
}


.nav-left{
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.nav-left>a>h1{
    font-size:20px;
    font-weight: 400;
}

.nav-right{
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}


.connect{
    border: none;
    border-radius: 25px;
}


/* center div  */
#main>.home{
    position: relative;
    height: 85%;
    width: 100%;
    /* background-color: red; */
}

.home-headline{
    text-align: center;
    position: absolute;
    top: 10%;
    /* height: 60%; */
    width: 100%;
    /* background-color: rgba(210, 216, 216, 0.5); */
}

.name{
    /* display: inline-flex; */
    word-wrap: break-word;
    font-size: 160px;
    /* background-color: red; */
    overflow: hidden;
}

.name span{
    display: inline-block;
}


.name1{
    display: inline-flex;
    word-wrap: break-word;
    font-size: 160px;
}

.name2{
    display: inline-flex;
    word-wrap: break-word;
    font-size: 160px;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top: 100%;
    left: 50%;
    height: 350px;
    width: 400px;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    /* background-color: rgb(221, 179, 62); */
}

.image-container-inner{
    /* position:relative; */
    /* top: 90%; */
    /* left: 50%; */
    height: 350px;
    width: 220px;
    border-radius: 10px;
    /* transform: translate(-50%,-50%); */
    /* background-color: pink; */
}


.image-container-inner>img{
    position: absolute;
    height: 350px;
    width: 220px;
    border-radius: 10px;
}



@media screen and (max-width:480px){
    .home-headline{
        text-align: center;
        position: absolute;
        top: 20%;
        width: 100%;
        /* background-color: rgba(210, 216, 216, 0.5); */
    }
    .name{
        font-weight: 600;
        font-size: 90px;
    }
    .name span{
        display: inline-block;
    }
    .name1{
        display: inline-flex;
        font-weight: 600;
        font-size: 90px;
    }
    .name2{
        display: inline-flex;
        font-weight: 600;
        font-size: 80px;
    }
    .images-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position:relative;
        top: 80%;
        left: 50%;
        height: 350px;
        width: 400px;
        border-radius: 20px;
        transform: translate(-50%,-50%);
        /* background-color: rgb(221, 179, 62); */
    }
    .image-container-inner{
        /* position:relative; */
        /* top: 90%; */
        /* left: 50%; */
        height: 350px;
        width: 300px;
        border-radius: 10px;
        /* transform: translate(-50%,-50%); */
        /* background-color: pink; */
    }
    
    .image-container-inner>img{
        position: absolute;
        height: 350px;
        background-color: cover;
        width: 300px;
        border-radius: 10px;
    }
}



























































/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #afafaf; 
}